/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Avenir, Helvetica, sans-serif;
}

#game-area {
  position: absolute;
  /* left: 50%;
  top: 50%; */
}

#flappy-canvas {
  /* background: red; */
  width: 100%;
  height: 100%;
  border: 5px solid blue;
}

#stats-panel {
  display: none;
  position: absolute;
  width: 100%;
  height: 18%;
  top: 0;
  opacity: 0.8;
  background: lightsalmon;
}